.footer-wrapper{
	position: relative;
	padding: 0 0 40px;
	width: 100%;
	&:after{
		content:'';
		position: absolute;
		bottom: 40px;
		height: 1px;
		width: 100%;
		background-color: rgba(51, 51, 51, 0.15);
	}
}
.footer{
	text-align: center;
	font-weight: bold;
	.copyright{
		margin-bottom: 10px;
	}
	.addr-item{
		display: block;
		margin-bottom: 10px;
		font-style: normal;
	}	
}