.about-wrapper{
	background-color: $background-blue;
}
.about{
	padding: 80px 40px 280px;
	@include breakpoint(medium){
		padding: 80px 20% 280px;
	}
	.about-title{
		font-size: 48px;
		color: $white;
		text-align: center;
		margin-bottom: 50px;
	}
	.img-container{
		text-align: center;
		margin-bottom: 50px;
	}
	.about-img{
		width: 228px;
    	height: 228px;
    	border-radius: 50%;
	}
	.about-text{
		font-size: 20px;
		line-height: 1.5;
	}
}