.graphic-wrapper{
	background-color: rgba($background-blue,.7); 
}
.graphic{	
	padding: 100px 40px;
	.graphic-title{
		font-size: 48px;
	    color: #fff;
	    text-align: center;
	    margin-bottom: 100px;
	    text-transform: capitalize;	
	    overflow: hidden;    
	}
	.title-text{
		position: relative;
		display: inline-block;
		padding-bottom: 20px;
		&:after{
	    	content: '';
	    	position: absolute;
	    	bottom: 0;
	    	left: 50%;
	    	transform: translateX(-50%);
	    	height: 5px;
	    	width: 120%;
	    	background-color: #fff;
	    }
	}
	.subtitle{
		font-size: 40px;
	    color: #fff;
	    text-align: center;
	    margin-bottom: 40px;
	    &second{
	    	text-transform: capitalize;
	    }	    
	}

	.panels{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include breakpoint(medium){
			justify-content: space-evenly;
		}
		@include breakpoint(large){
			justify-content: space-between;
		}
		//justify-content: space-around;
		//justify-content: space-evenly;
	}
	.panel-item{
		margin-bottom: 50px;
		flex: 0 1 100%;
		@include breakpoint(medium){
			flex: 0 1 40%;
		}		
		@include breakpoint(large){
			flex: 0 1 28%;
		}		
	}
	.adapt-container{
		position: relative;
    	overflow: hidden;
    	padding-bottom: 100%;
    	background-color: rgba(127,127,127,0.5);  //if photo not loads
	}
	.panel-image{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    object-position: center center;
	}

	.panel-name{
		padding: 20px 10px 0;				
		@include breakpoint(large){
			padding: 30px 10px 0;
		}	
		font-size: 32px;
		line-height: 1.5;
	    color: #fff;	    
	    text-transform: capitalize;
	    text-align: center;
	    @include breakpoint(medium){
			text-align: left;
		}
	}
}