.lead{	
	padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: $white;
    @include breakpoint(medium){
		flex-wrap: nowrap;
	}	
    .generetion-container{
    	background: $background-blue;
    	padding: 100px 10px;
    	flex: 0 0 90%;
    	margin-bottom: 40px;
    	@include breakpoint(medium){
			flex: 0 0 45%;
			padding: 100px 50px;
			margin-bottom: 0;
		}    	
    }
    .domination-container{
    	background: $background-blue;  
    	padding: 100px 10px;  
    	flex: 0 0 90%;	
    	@include breakpoint(medium){
			flex: 0 0 45%;	
			padding: 100px 50px;		
		} 
    }
    .lead-title{
    	font-size: 40px;
    	text-align: center;
    	margin-bottom: 40px;
    } 

	.lead-list {
	  list-style: none;
	  margin-bottom: 80px;
	}

	.lead-item {
	  	position: relative;
		margin-bottom: 30px;		
		&:before{
			content: '';
		   	position: absolute;
		   	border-right:2px solid $white;
		   	border-bottom:2px solid $white;
		   	width:10px;
		   	height:10px;
		   	top: calc(50% - 2px);	
		   	left: -20px;
		   	transform: translateY(-50%) rotate(-45deg);
		}
	}
	.item-text{
		font-size: 20px;
	}
}