.pricing-wrapper{
	background-color: $background-blue;
}
.pricing{
	//padding-top: 30px;	
	.pricing-panels{
		display: flex;
		flex-wrap: wrap;
		@include breakpoint(large){
			flex-wrap: nowrap;
		} 
	}
	.panel{
		flex: 1 0 100%;
		//min-height: 500px;
		@include breakpoint(medium){
			flex: 1 0 50%;			
		} 
		@include breakpoint(large){
			flex: 1 0 25%;
			//min-height: 600px;
		} 
		display: flex;
	    flex-direction: column;
	    align-items: center;	    
	    text-align: center;
	    padding: 50px 5% 40px;
	    font-size: 16px;
	    line-height: 1.5;
	    &:nth-child(1){
	    	background-color: #000000;
	    	color: $white;
	    }
	    &:nth-child(2){
	    	background-color: #636161;
	    	color: $white;
	    }
	    &:nth-child(3){
	    	background-color: #ECECEC;
	    }
	    &:nth-child(4){
	    	background-color: #5CD59D;
	    }
	}
	.panel-icon{
		width: 90px;
		height: 90px;
		margin-bottom: 40px;		
	}
	.pricing-bottom{
		padding: 10px 0;
	}
	.note{
		font-size: 20px;
		font-style: italic;
		padding: 0 10%;
	}	
}
