.services{
	background-color: rgba(127,127,127,0.5);
	height: 560px;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    padding: 0 40px;

	position: relative;
	overflow: hidden;
	
    .services-info{
    	z-index: 10;
    	// width: 100%;
    	// height: 100%;
    	// display: flex;
    	// flex-direction: column;
    	// align-items: center;
	    // justify-content: center;  	    
    } 
    .parallax_scene1{
    	position: absolute;
    	z-index: -5;
    }
	
	.services-main-title{
		font-size: 48px;
		color: $white;
		margin-bottom: 50px;
	}
	.services-title{
		font-size: 40px;
		color: $white;	
		&:not(:last-child){
			margin-bottom: 20px;
		}		
	}
}