/*=========================================================
///////////////////////////////////////////////////////////
  FONTS
///////////////////////////////////////////////////////////
=========================================================*/
@font-face {
  font-family: 'helvetica';  
  src: url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
  // src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
  //      url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


// .Graphik-Regular-Web {
//   font-family: 'Graphik Web';
//   font-weight:  400;
//   font-style:   normal;
//   font-stretch: normal;
// }