/*=========================================================
///////////////////////////////////////////////////////////
  COLORS
///////////////////////////////////////////////////////////
=========================================================*/
$black: 					#000000;
$white: 					#ffffff; 
$text-color: 				#333333;
$active-color: 				#3EC2BA;
$background-blue:			#5FB0EE;
/*=========================================================
///////////////////////////////////////////////////////////
  FONTS
///////////////////////////////////////////////////////////
=========================================================*/
$global-font-family: 'helvetica', sans-serif;  
$secondary-font-family: "Open Sans"; 
$heading-font-family: 'helvetica', sans-serif; 
$button-font-family: "Open Sans"; 
$global-font-size: 16px;
$scale-font-for-xsmall: 1;
$scale-font-for-small: 1;
$scale-font-for-medium: 1;
/*=========================================================
///////////////////////////////////////////////////////////
  HEADING
///////////////////////////////////////////////////////////
=========================================================*/
// $map-heading-size: ( 	
// 			h1: 32px,
// 			h2: 24px,
// 			h3: 18px,
// 			h4: 16px,
// 			h5: 13px,
// 			h6: 10px,
// 		);
		
// $scale-heading-for-xsmall: 1;
// $scale-heading-for-small: 1;
// $scale-heading-for-medium: 1;

/*=========================================================
///////////////////////////////////////////////////////////
  Internall padding
///////////////////////////////////////////////////////////
=========================================================*/
// $pad-x:        24px;
// $pad-top:        24px;
// $pad-bottom:     24px;