/*=========================================================
///////////////////////////////////////////////////////////
  Wrapper
///////////////////////////////////////////////////////////
=========================================================*/
.container{        
    width: 100%;    
    margin: 0 auto;         
    
    @include breakpoint(small){             
      //for max static wide 600px  uncomment next
      //max-width: 600px;
    }
    @include breakpoint(medium){ 
      //for max static wide 900px  uncomment next
      // max-width: 900px;      
    }
    @include breakpoint(large){
      //for max static wide 1200px  uncomment next
      max-width: 1200px;     
    }
    @include breakpoint(xlarge){
      //for max static wide 1200px  uncomment next
      //max-width: 1920px;      
    }             
}
// .wrapper-white{
//   @extend .wrapper;
//   background-color: $white; 
// }
// .wrapper-black{
//   @extend .wrapper;
//   background-color: $black; 
// }
// .wrapper-transparent{
//   @extend .wrapper;
//   background-color: transparent; 
// }

/*=========================================================
///////////////////////////////////////////////////////////
  limiter
///////////////////////////////////////////////////////////
=========================================================*/
// .limiter{  
//   margin: -1px auto -1px;    
//   width: 100%; 
//   //max-width: 100vw;   
//   @include breakpoint(small){
//     // width: 600px;    
//     padding: $pad-top $pad-x $pad-bottom; 
//   }   
//   @include breakpoint(medium){
//     //width: 900px;    
//     padding: $pad-top $pad-x $pad-bottom; 
//   }
//   @include breakpoint(large){
//     //width: 1200px;
//     padding: $pad-top $pad-x $pad-bottom;
//   }
//   @include breakpoint(xlarge){
//     width: 1920px;
//     padding: $pad-top $pad-x $pad-bottom; 
//   }
// }